// 字體
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

// google icon
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

// scss-docs-start font-sizes
$font-sizes: (
  1: $font-size * 1.5,
  2: $font-size * 1.25,
  3: $font-size * 1,
  4: $font-size * 0.875,
  5: $font-size * 0.75,
) !default;
// scss-docs-end font-sizes
.fs-4{
    font-style: 14px;
}


body {
	font-family: "Lato", sans-serif, "Roboto Mono", monospace;
}
textarea{
    resize: none;
    height: 273px;
}
::placeholder{
    color: $gray-400;
}
