// 字體
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

// google icon
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');



body {
	font-family: "Lato", sans-serif, "Roboto Mono", monospace;
}
textarea{
    resize: none;
    height: 273px;
}
::placeholder{
    color: $gray-400;
}
a{
    display: block;
    text-decoration: none;
}
.text-Roboto{
    font-family: 'Roboto Mono', monospace;
}