// 字體
@import url('https://fonts.google.com/specimen/Lato');
@import url('https://fonts.google.com/specimen/roboto+mono?query=robo');

// google icon
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

// scss-docs-start font-sizes
$font-sizes: (
  1: $font-size * 4,
  2: $font-size * 3.75,
  3: $font-size * 3,
  4: $font-size,
  5: $font-size,
  6: $font-size,
  7: $font-size,
) !default;
// scss-docs-end font-sizes


body {
	font-family: "Lato", sans-serif, "Roboto Mono", monospace;
}
textarea{
    resize: none;
    height: 273px;
}
::placeholder{
    color: $gray-400;
}
